body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(232, 246, 246);
  color: rgb(0, 42, 109);
}

h1 {
  display: block;
}

button, div {
  font-family: inherit;
}

p, ol {
  color: inherit;
}

@page {
  size: auto;
  margin: 5mm;
}

.question-input {
  font-family: inherit;
  width: 600px;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.test-title, .worksheet-name {
  font-family: inherit;
  width: 350px;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: rgb(84, 85, 89);
    font-style: italic;
  }
}

/* .first-edit-button {
  height: 40px;
  width: 80px;
  font-size: 20px;
  color: white;
  background-color: blue;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.15s, color 0.5s;
} */

.first-edit-button:hover {
  background-color: rgb(32, 181, 255);
  color: black;
} 

.js-switched-word {
  background-color: inherit;
  border: none;
  font-size: 20px;
  transition: background-color 0.15s, color 0.5s;
}

.js-switched-word:hover {
  background-color: rgb(32, 181, 255);
  color: white;
}

.js-word-gap {
  width: 20px;
  background-color: white;
}

.js-word-gaped {
  size: 10px;
  color: inherit;
  background-color: gray;
  border: none;
  cursor: pointer;
}

/* .generate-the-question {
  height: 40px;
  width: 100px;
  font-size: 20px;
  color: white;
  background-color: blue;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.15s, color 0.5s;
  margin-top: 20px;
} */

.generate-the-question:hover {
  background-color: rgb(32, 181, 255);
  color: black; 
} 

.js-hint-generator {
  font-family: inherit;
  width: 200px;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  font-weight: bold;

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
    font-weight: bold;
  }
}

.js-hint-place {
  font-family: inherit;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

li {
  font: inherit;
  font-size: 1.3rem;
  font-style: normal;
  margin-top: 10px;
}

.question-hint {
  font-style: italic;
}

@media print {
  h1,
  .question-editor {
    display: none;
  }
  .js-removal-button {
    display: none;
  }

  .question-list {
    font-size: 2rem;
    margin-left: 25px;
  }

  .print-button {
    display: none;
  }

  .test-title {
    margin-bottom: 70px;
  }

  hr {
    display: none;
  }
}

/* .print-button {
  height: 40px;
  width: 100px;
  font-size: 20px;
  color: black;
  background-color: rgb(32, 181, 255);
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.15s, color 0.5s;
  margin-top: 20px; 
} */

.print-button:hover {
  background-color: blue;
  color: white;
}

.main-logo-page {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 150px;
  width: 150px;
}

/* this is a design file for us */


/* CSS */
button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

button:hover,
button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.js-removal-button {
  font-size: inherit;
  width: 16px;
  height: 8px;
}

.editor-second {
  height: 100px;
}


.js-task-hint {
  display: inline-block;
}

.print-button {
  margin-left: 15px;
}

.first-edit-button {
  margin-left: 15px;
}

.question-editor, .question-hint, .question-input, .question-list {
  color: inherit;
}

.question-words {
  color: inherit;
}

.button-link {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-link:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-link:hover {
  transform: translateY(-1px);
    background-color: blue;
    color: white;
}

.button-link:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}